@model CMS.Models.AviContentd

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Edit", "AviContentd", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>AviContentd</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
    
            <div class="form-group">
                @Html.LabelFor(model => model.MID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MID)
                    @Html.ValidationMessageFor(model => model.MID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AVIContent, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.AVIContent)*@

                    @Html.TextBox("file", "", new { type = "file" })
                    @Html.ValidationMessageFor(model => model.AVIContent)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ContentType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContentType)
                    @Html.ValidationMessageFor(model => model.ContentType)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
